<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<div th:fragment="content">
    <h1>Register</h1>
    <p th:if="${errorMessage}" style="color:red" th:text="${errorMessage}"></p>
    <form th:action="@{/web/auth/register}" th:object="${user}" method="post">
        <label>Username:</label>
        <input type="text" th:field="*{username}" /><br/>
        <label>Password:</label>
        <input type="password" th:field="*{password}" /><br/>
        <label>Email:</label>
        <input type="email" th:field="*{email}" /><br/>
        <!-- Возможно выбрать роли или назначать дефолтную роль CLIENT -->
        <button type="submit">Register</button>
    </form>
    <a th:href="@{/web/auth/login}">Login</a>
</div>
<th:block th:replace="layout :: content"/>
</body>
</html>
