<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title layout:fragment="title">Изменить Пароль</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body layout:decorate="~{layout}">
<div layout:fragment="content">
  <h2>Изменить Пароль</h2>

  <!-- Сообщение об ошибке -->
  <p th:if="${errorMessage}" style="color:red" th:text="${errorMessage}"></p>

  <!-- Сообщение об успехе -->
  <p th:if="${successMessage}" style="color:green" th:text="${successMessage}"></p>

  <form th:action="@{/web/client/profile/change-password}" th:object="${passwordForm}" method="post">
    <!-- Старый пароль -->
    <label for="oldPassword">Старый Пароль:</label>
    <input type="password" id="oldPassword" th:field="*{oldPassword}" required/><br/>

    <!-- Новый пароль -->
    <label for="newPassword">Новый Пароль:</label>
    <input type="password" id="newPassword" th:field="*{newPassword}" required/><br/>

    <!-- Подтверждение нового пароля -->
    <label for="confirmPassword">Подтвердите Новый Пароль:</label>
    <input type="password" id="confirmPassword" th:field="*{confirmPassword}" required/><br/>

    <button type="submit">Изменить Пароль</button>
  </form>

  <p><a th:href="@{/web/client/profile}">Назад к Профилю</a></p>
</div>
</body>
</html>
